.featuresWrapper
    max-width: 1200px
    margin: 0 auto
    color: #f5f5f5
    hr
        width: 100%
        border: 1px solid #b5b6bb7b
        margin: 10px auto 90px auto
    .wfWrapper
        margin-bottom: 50px
    .dots
        display: inline-flex
        justify-content: space-between
        align-items: center
        position: relative
        column-gap: 5px
        border-radius: 50%
        .dot
            width: 13px
            height: 13px
            border-radius: 50%
            background-color: hsla(0deg, 0%, 100%, 0.1) 
        .traveler
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: 13px
            height: 13px
            border-radius: 50%
            background: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6)
            animation: travel 1s ease-in-out infinite alternate-reverse
    .col:nth-child(2)
        margin-top: 20px
        display: flex
        justify-content: space-between
        align-items: flex-end
        h3
            font-size: 35px
            line-height: 1.3em
            font-weight: 400
            color: #f5f5f5
        p
            font-size: 18px
            margin-top: 10px
            font-weight: 300
            line-height: 1.7em
            color: #b5b6bb
            width: 500px
        .colwr:nth-child(2)
            button
                margin: 0 10px
        .phoneWrapper
            height: 480px
            transition: all .35s linear
            img
                width: 100%
                height: 100%
                object-fit: cover

.lmBoxWrapper
    padding: 40px 75px 0 75px
    border: 1px solid #ffffff40
    border-radius: 12px
    margin-bottom: 150px
    position: relative

    display: flex
    justify-content: space-between
    align-items: center
    overflow: hidden
    .col
        z-index: 10
        h3
            font-size: 35px
            line-height: 1.4em
            font-weight: 400
            color: #f5f5f5
        p
            color: #b5b6bb
            line-height: 1.3em
            font-size: 18px
            font-weight: 300
            max-width: 435px
            margin: 20px 0
    .lmBoxWallpaper
        position: absolute
        width: 150%
        mix-blend-mode: lighten
        filter: grayscale(100%)
        top: 60%
        left: 0

.features
    display: flex
    justify-content: center
    align-items: flex-start
    .featureWrapper
        max-width: 340px
        margin: 0 50px
        .imgWrapper
            width: 340px
            height: 370px
            img
                width: 100%
                height: 100%
                object-fit: contain
                filter: drop-shadow(0 0 100px #a856f045)
        h3
            margin-top: 20px
            font-size: 28px
            font-weight: 500
            line-height: 1.43em
            text-align: center
            color: #f5f5f5
        p
            text-align: center
            margin-top: 40px
            font-size: 16px
            font-weight: 400
            color: #b5b6bb
            line-height: 1.3em

@keyframes travel
    0%
        left: 20%
        transform: translate(-50%, -50%) scale(1)
    33%
        opacity: 0
    45%
        transform: translate(-50%, -50%) scale(0.8)
    55%
        transform: translate(-50%, -50%) scale(0.8)
    77%
        opacity: 0
    100%
        left: 80%
        transform: translate(-50%, -50%) scale(1)